    /* File: css/media-query-desktop.css */
    /* Media Query para Desktop (a partir de 1024px) */

@media screen and (min-width: 1024px) {
    
    /* Logo */
    .logo img {
        max-width: 270px;
        height: auto;
    }

    /* Fim Logo */



    /* Banner */

    .banner {
        padding: 230px;
    }

    /* Fim Banner */


    /* Sobre */



    .sobre p:nth-child(2) {
        width: 100%;
    }

    .sobre-imagem {
        width: 100%;
    }

    .sobre-imagem img {
        width: 30%;
    }

    .info-p {
        width: 88%;
    }

    /* Fim Sobre */


    /* Contato */


    .cadastro h2 {
        width: 83%;
        height: auto;
        left: 0;
        padding-top: 30px;
        padding-bottom: 5px;
    }

    .cadastro p {
        width: 83%;
        height: auto;
        left: 0;
        padding-bottom: 5px;
        line-height: 1.2;
    }

    .cadastro fieldset {
        width: 80%;
    }

    .cadastro select{
        padding: 10px 100px;
        text-align: center;
    }

    .opcao {
        text-align: left;
    }

    .botao-enviar button {
        width: 83.1%;
    }

}