/* File: css/media-query-tablet.css */
/* Media Query para Tablets (768px a 1023px) */


@media screen and (min-width: 768px) and (max-width: 1023px){

    /* Logo */
    .logo img {
        max-width: 200px;
        height: auto;
    }

    /* Fim Logo */



    /* Banner */

    .banner {
        padding: 150px;
    }

    /* Fim Banner */


    /* Sobre */

    .sobre h1 {
        font-size: 1.8em;
    }

    .sobre p:nth-child(2) {
        width: 100%;
    }

    .sobre-imagem {
        width: 100%;
    }

    .sobre-imagem img {
        width: 20%;
    }

    .info-p {
        width: 80%;
    }

    /* Fim Sobre */


    /* Contato */


    .cadastro h2 {
        width: 85%;
        height: auto;
        left: 0;
        padding-top: 30px;
        padding-bottom: 5px;
    }

    .cadastro p {
        width: 85%;
        height: auto;
        left: 0;
        padding-bottom: 5px;
        line-height: 1.2;
    }

    .cadastro fieldset {
        width: 80%;
    }

    .cadastro select{
        padding: 10px 100px;
        text-align: center;
    }

    .opcao {
        text-align: left;
    }

    .botao-enviar button {
        width: 85.5%;
        padding: 10px;
    }

    /* Fim Contato */