/* File: css/media-query-celphone.css */
/* Media Query para Celulares (até 767px) */

@media screen and (max-width: 767px) {

        /* Logo */
        .logo img {
            max-width: 140px;
            height: auto;
        }

        /* Fim Logo */



        /* Banner */

        .banner {
            padding: 100px;
        }

        /* Fim Banner */

        /* Sobre */


        .sobre h1 {
            font-size: 1.5em;
        }

        .sobre p:nth-child(2) {
            width: 100%;
        }

        .sobre-imagem {
            width: 100%;
            margin: -5px -5px 10px -20px;
            gap: 20px;
        }

        .sobre-imagem img {
            width: 100%;
        }

        .info-p {
            width: 100%;
        }

        /* Fim Sobre */


        /* Contato */

        .contato h2 {
            font-size: 1.6em;
        }

        .cadastro h2 {
            margin: 0 0 0 25px;
            padding-top: 30px;
            padding-bottom: 5px;
        }

        .cadastro p {
            width: 75%;
            height: auto;
            margin: 0 0 0 25px;
            padding-bottom: 5px;
            line-height: 1.2;
        }

        .cadastro fieldset {
            width: 80%;
        }

        .cadastro select{
            padding: 10px 100px;
            text-align: center;
        }

        .opcao {
            text-align: left;
        }

        .botao-enviar button {
            width: 85.5%;
            padding: 10px;
        }

}