@charset "UTF-8";


/* Estilos para dispositivos - desktop */
@media screen and (min-width: 769px) and (max-width: 1023px){



 /* Seção de Especialidades */

.bloco-especialidade img{
    display: none;
}

#h2{
    font-size: 20px;
    font-weight: bold;
}

/* Fim da Seção de Especialidades */

/*Rodapé*/
 .rodape{
	padding-top: 50px;
 }

 .rodape p{
	font-size: 15px;
 }

 .topo-logo{
	 width: 150px;
	 height: auto;
 }

  /*Fim do Rodapé*/

}