@charset "UTF-8";


/* Estilos para dispositivos móveis - celular */

@media screen and (max-width: 767px) {

/* Logo */

    html {
        overflow-x: hidden;
    }

    .logo img {
        width: 35px;
        height: auto;
    }

    .logo h1 {
        font-size: 20px;
        margin: 2px;
    }

/* Fim Logo */



/* Titulo do Formulário */
    
    .formulario-title {
        width: 430px;
    }


    .aviao h2 {
        font-weight: 400;
    }

/* Fim do Titulo do Formulário */


/* Formulário area total */

   .formulario {
        max-width: 390px;
        height: auto;
   }

/*Fim Formulário area total */  



/* Formulário inputs data */

    .form-group-dates {
        display: flex;
        flex-direction: column;
    }

/* Fim Formulário inputs data */



/* Formulário inputs select */

    .select-group {
        display: flex;
        flex-direction: column;
    }


    select {
        padding: 0 0 5px 0;

}

/* Fim Formulário inputs select */



/* Formulário radio buttons */

    .form-group-radio{
        display: flex;
        flex-direction: column;
    }

    .group-radio-cel {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

/* Fim Formulário radio buttons */



/* Formulário checkbox */

  .form-group-cel, .checkbox-container {
        display: flex;
        flex-direction: column;
        
  }

/* Fim Formulário checkbox */  
   


/* Botão */

   .btn {
    width: 390px;
    height: auto;
   }

/* Fim do Botão */ 



/* Ofertas */

   .ofertas-grid {
    display: flex;
    flex-direction: column;
   }
    

   .figure-rj img {
    width: 300px;
    height: 130px;
    object-fit: cover;

   }

   .ofertas-grid-2 {
    display: flex;
    flex-direction: column;
   }


   .ofertas-title {
    width: 300px;
   }


/* Fim de Ofertas */ 


/* Explorar a Natureza */

    .ofertas-title-cel {
        width: 350px;
    }

/* Explorar a Natureza */



/* Rodapé */

   .contato-geral {
        display: flex;
        flex-direction: column;

   }


   .contatos{
       width: 400px;
       margin-left: 100px;
   }



   .redes-sociais {
        padding: 30px;
        margin-left: -33px;
    }


    .redes-sociais h4 {
        margin-left: 108px;

    }


    /* Fim do Rodapé */


}


